# system files
.DS_Store
Thumbs.db

# vscode
.vscode

# r
/renv
.Rhistory

# web dev
/node_modules

# quarto
/.quarto/

# unprocessed (or partially processed) dataverse files
data/dataverse_files.zip
data/src
data/1-combined
